@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: #60657b;
  --primary-color: #0070f3;
  --primary-color-dark: #000000;
  --text1: #0067c8;
  --bg2: #f7f7f7;
  --text5: #929292;
  --text2: #676767;
  --text3: #f2f2f2;
  --text4: #494949;

  --h1: 300px;
  --w1: 480px;

  --h2: 180px;
  --w2: 280px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth !important;
}

body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: var(--primary-font);
  line-height: 1.6;
  scroll-behavior: smooth;
  max-width: 1916px;
  margin: 0 auto;
  background-color: var(--primary-color-dark);
}

::selection {
  background-color: var(--primary-font);
  color: var(--text3);
  // user-select: none;
}

.container2 {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.bg1 {
  background-color: var(--text3);
}

.bg2 {
  background-color: var(--text5);
}

.bg4 {
  background-color: var(--primary-color);
}

.disp {
  display: none;
}

.fontxs {
  font-size: 0.75rem;
}
.fontsm {
  font-size: 0.85rem;
}
.fonttest {
  font-size: 0.3rem;
}

.text1 {
  color: var(--text1);
}

.text2 {
  @apply text-gray-700;
}

.text4 {
  color: var(--text4);
}

.clipIt {
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
}

.shade1 {
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5) !important;
}

.navbar {
  opacity: 0.7;
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 100px;
  margin-inline: 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 50%;
  margin: auto;
  color: #fff;
  box-shadow: 0 2px 2px rgb(255 255 255 / 20%);
}

.scaleIt:hover {
  transform: scale(1.01);
}

.head1 {
  @apply font-semibold  mb-4;
  font-size: 4rem;
  line-height: 1.2;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.head2 {
  @apply font-semibold text-4xl  mb-4 text-white;
}
.head3 {
  @apply text-xl min-[1200px]:text-2xl;
}
.head4 {
  @apply my-6 text-xl font-bold;
}

.after:after {
  content: "";
  display: inline-block;
  height: 14px;
  width: 2px;
}

.heartAnimation {
  animation: heartBeat 0.25s ease-in-out 1 both;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.padd {
  @apply px-16;
}

.btn {
  @apply bg4 px-3 py-2 font-semibold text-white text-sm rounded hover:bg-blue-700;
}

.btn2 {
  @apply px-3 py-2 font-semibold text-white text-sm rounded;
}

.contactbg {
  background-image: linear-gradient(
      to right,
      rgba(33, 33, 33, 0.5),
      rgba(71, 71, 71, 0.6)
    ),
    url("/4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .contact {
    width: 90%;
    margin: auto;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--text5);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--text5) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
}

footer {
  background-color: var(--text3);

  .footer__links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 2.5rem;
    padding: 4rem 2rem;
    justify-items: center;
    align-items: start;
    text-transform: capitalize;

    &-lists {
      font-size: 0.7rem;
      font-weight: 400;
      color: var(--text2);
    }

    @media only screen and (max-width: 520px) {
      display: block;

      & > *:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    &-1 {
      h3 {
        font-size: 0.9rem;
        color: var(--text2);
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      font-size: 1rem;
      list-style: none;

      .footer__links-lists a {
        text-decoration: none;
        color: inherit;

        &:hover {
          color: rgb(41, 41, 41);
        }
      }
    }
  }
}

.hide3 {
  display: none;
}

@media only screen and (max-width: 1026px) {
  .container2 {
    width: 98%;
    padding: 0 0.5rem;
  }
}

@media only screen and (max-width: 860px) {
  .hide2 {
    display: none;
  }

  .hide3 {
    display: flex;
    align-items: center;
  }

  .bp1 {
    display: flex;
    justify-content: space-between !important;
  }

  .fillit {
    position: absolute;
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {
  .heroSection {
    display: none;
  }

  .clipOver {
    display: none;
  }
  .homeS {
    display: none;
  }

  .disp {
    display: block;
  }

  .skillsandeducation {
    display: block;

    & > * {
      margin-bottom: 4rem;
    }
  }
}

@media only screen and (max-width: 722px) {
  .removePad1 {
    padding-right: 0;
  }
}

@media only screen and (max-width: 635px) {
  .heroSection {
    width: 90%;
  }

  .homeS {
    height: 80vh;
  }
}

.slider {
  height: 350px;
  width: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  position: relative;

  @media only screen and (max-width: 620px) {
    height: 200px;
  }
}
.slide-track {
  display: flex;
  width: calc(var(--w1) * 12);
  animation: autoplayslider 25s linear infinite;
  transition: transform 0.1s;

  @media only screen and (max-width: 620px) {
    width: calc(var(--w2) * 12);
  }
}
.slide-track:hover {
  animation-play-state: paused;
}

@keyframes autoplayslider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--w1) * -6));
  }
}

@media only screen and (max-width: 620px) {
  @keyframes autoplayslider {
    100% {
      transform: translateX(calc(var(--w2) * -6));
    }
  }
}
.slide {
  height: var(--h1);
  width: var(--w1);
  overflow: hidden;
  transition: transform 0.1s;

  @media only screen and (max-width: 620px) {
    height: var(--h2);
    width: var(--w2);
  }
}
.projBack {
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  transition: transform 1s;
}

.slide:hover .projBack {
  display: block;
}

.imageInSlide {
  width: 100%;
  transition: transform 0.1s;
}

.slide:hover .imageInSlide {
  transform: scale(1.05);
}

//button

.btn-outline {
  padding: 1rem 2rem;
  color: white;
  border: 2px solid white;
}

.projectSection {
  .container {
    max-width: 120rem;
    margin: 10rem auto;
    padding: 0 2rem;
  }

  .svg-1 {
    width: 3rem;
    height: 3rem;
    fill: #fff;
    margin-right: 1rem;
  }
  .primary-heading {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    @media only screen and (max-width: 400px) {
      flex-direction: column;
    }

    &-fit {
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 400px) {
        &:last-child {
          display: none;
        }
      }
      span {
        font-weight: bold;
        font-weight: 1.4rem;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 3rem;
        }
      }
    }
  }

  .project-lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: start;
    gap: 2rem;

    .card {
      background-color: rgb(109, 109, 109);
      padding: 2rem;
      border-radius: 10px;
      text-align: center;
      transition: all 0.1s ease-in-out;
      cursor: pointer;

      &:hover {
        // transform: translateY(-5px);
        transform: scale(1.02);
      }

      &-figure {
        width: 100%;
        margin: 0 auto;
        object-fit: cover;
      }

      &-img {
        width: inherit;
        object-fit: cover;
        min-height: 15rem;
        max-height: 20rem;
        border-radius: 10px;
      }

      &-info {
        & > * {
          margin: 1rem;
        }
      }

      &-desc {
        font-family: "Open Sans", sans-serif;
      }
    }
  }
}

.heroSection {
  min-height: 100vh;
  text-align: center;
  position: relative;
  .heroContain {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // background: linear-gradient(to right, rgb(30, 0, 255) 40%, green 60%);
  // background-image: url("/vercel.svg"), url("/vercel.svg");
  // background-repeat: no-repeat;
  // background-position: left top, right bottom;
  // background-size: 50px 50px, 100px 100px;

  .heroTitle {
    @apply font-semibold mb-4 text-white;
    margin-block: 2rem;
    font-size: 6rem;
    line-height: 1.2;

    .span1 {
      background: linear-gradient(to right, rgb(30, 0, 255), green);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .span2 {
    }

    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .subText {
    font-size: 1.2rem;
    width: 60%;
    margin: auto;
  }
}

.skillSection {
  background-color: #a77a7a;
  padding-block: 6rem;

  .head1 {
    margin-bottom: 0;
  }

  .subText {
    margin-left: 0.5rem;
  }

  .skill {
    position: relative;

    .js,
    .react,
    .sql,
    .node,
    .next {
      font-size: 10rem;
      font-weight: bold;
      line-height: 0.75;
      text-align: right;
      color: rgb(255, 255, 255);
    }
    .react {
      font-size: 8rem;
    }

    .next {
      font-size: 10rem;
    }
  }
}

.studySection {
  padding-block: 6rem;
}
